/* Carousel */
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 3rem 0; 
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* Side Nav */
.sidenav {
    padding-top: 100px;
    float: left;
}

/* Album */
.album {
    margin-top: 50px;
}

button a {
  color: #6c757d;
  text-decoration: none;
}

button a:hover {
  color: white;
}

/* Product */
.product {
  margin-top: 100px;
  float: left;
}

.product-img {
  float: left;
}

.product-img .active-img img{
  width: 300px;
}

.product-desc {
  float: right;
}

.form-select {
  display: block;
  width: 100%;
  padding: .625rem 2rem .625rem 1rem;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b566b;
  vertical-align: middle;
  background-color: #fff;
  background-position: right 1rem center;
  background-size: 16px 12px;
  border: 1px solid #dae1e7;
  border-radius: .3125rem;
  box-shadow: inset 0 1px 2px transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  float: left;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 50px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

a.text-muted.indented {
  padding-left: 20px;
}

/* Tables */
.admin-table {
  max-height: 530px;
}

.clickable-row { 
  cursor: pointer; 
}
